/* featured hotel section style */
.grid{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(30rem,1fr));
    grid-gap: 2.5rem;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fearured-hotels{
    height: 35rem;
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 0;
}
.fearured-hotels::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-transparent-alt);
    z-index: -1;
}
.hotel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.hotel-name{
    font-size: 2.6rem;
}
.hotel-price{
    font-size: 1.8rem;
}
.hotel-rating{
    margin: 1rem 0 2.5rem;
}
.rating{
    color: var(--yellow-solid);
}
